- max_loops = 20

%h1= t("layouts.help.faq_default_page.header")

%p.open_close= t("layouts.help.faq_default_page.show_all")

%p
  =t("layouts.help.faq_default_page.furtherQuestions", :pool_tool_help_path => pool_tool_help_index_path).html_safe
  %b
    =link_to t("layouts.help.faq_default_page.contact_us"), new_user_feedback_path

- for i in 1..max_loops do
  - if I18n.t("layouts.help.faq_default_page.question_#{i}", :default => '', :fallback => []).empty?
    - break
  - else
    .question
      %p= t("layouts.help.faq_default_page.question_#{i}").html_safe

    %div{:id=>"answer"+i.to_s, :class=> "hidden answer"}
      - if I18n.t("layouts.help.faq_default_page.answer_#{i}", :default => '', :fallback => []).empty?
        - for j in 1..max_loops do
          - if t("layouts.help.faq_default_page.answer_#{i}_#{j}", :default => '', :fallback => []).empty?
            - break
          - else
            %ul
              %li=  t("layouts.help.faq_default_page.answer_#{i}_#{j}").html_safe
      - else
        %p=  t("layouts.help.faq_default_page.answer_#{i}").html_safe

      - if !I18n.t("layouts.help.faq_default_page.video_#{i}", :default => '', :fallback => []).empty?
        .button.videobutton{:id => "play_video_answer_#{i}"}
          = link_to t("layouts.help.faq_default_page.video_#{i}"), :class=>"faq_video_#{i}" do
            =t("layouts.help.faq_default_page.play_video")
