.bubble-item
  .bubble-image-container
    - if listing.has_image?
      = link_to(image_tag(listing.listing_images.first.image.url(:small_3x2), :alt => listed_listing_title(listing)), listing)
  %a.bubble-overlay{:href => listing_path(listing)}
    %span{:class => "bubble-title-link"}
      = listing.title
  .bubble-title
    - if @restrictedMarketplace
      .bubble-avatar
        = small_avatar_thumb(listing.author)
    - else
      - cond = get_listing_condition(listing)
      .bubble-item-details
        - if cond
          .bubble-item-button.bubble-item-type{:class => "grid-item-type-" + cond[:condition].to_s}= cond[:title]

        .bubble-item-button.bubble-item-share= t('homepage.share')
        = render :partial => "homepage/share_dialog", :locals => {listing: listing, view: "map"}
        :javascript
          $('.bubble-item-share').click(function(ev){
            console.log(ev);
            $(ev.target.nextElementSibling).show();
          });
          $('.share-dialog').mouseleave(function(ev){
            $('.share-dialog').hide();
          });

          $('.link-dialog').mouseleave(function(ev){
            $('.link-dialog').hide();
            $('.share-dialog').hide();
          });

          $('.homepage-listing-link-button').click(function(ev){
            ev.preventDefault();
            $(ev.target.parentNode.parentNode.parentNode.nextElementSibling).show();
          });


    - if @restrictedMarketplace
      .bubble-details
        .bubble-author
          = author_link(listing)

        .bubble-price{:title => price_as_text(listing) }
          - if listing.price
            - if listing.quantity.present?
              %span.bubble-price-quantity
                = t("listings.form.price.per") + " " + listing.quantity
            - elsif listing.unit_type
              %span.bubble-price-quantity
                = price_quantity_per_unit(listing)
            %br
            = humanized_money_with_symbol(listing.price).upcase

    - else
      .bubble-details2
        .bubble-price2{:title => price_as_text(listing) }
          - if listing.price
            - if listing.quantity.present?
              %span.bubble-price-quantity
                = t("listings.form.price.per") + " " + listing.quantity
            - elsif listing.unit_type
              %span.bubble-price-quantity
                = price_quantity_per_unit(listing)
            %br
            = humanized_money_with_symbol(listing.price).upcase

