
- own_listing_class = ""
- if @current_user && listing.author.id == @current_user.get_company.id
  - own_listing_class = "own_listing"

- if listing.price
  - price_text = nil
  - if listing.quantity.present?
    - price_text = t("listings.form.price.per") + " " + listing.quantity
  - elsif listing.unit_type
    - price_text = price_quantity_per_unit(listing)



- frontpage_fragment_cache("list_item", listing) do
  .home-list-item{:class => "#{own_listing_class}"}
    / Image
    .home-list-image-wrapper
      - if listing.listing_images.size > 0
        - img_link = listing.listing_images.first[:small_3x2]

      = link_to listing_path(listing.url), :class => "home-list-image-container-desktop" do
        = image_tag img_link, {:alt => "Image missing...", :class => "home-list-image"}

      - if listing.listing_images.size > 0
        - img_link = listing.listing_images.first[:thumb]

      = link_to listing_path(listing.url), :class => "home-list-image-container-mobile" do
        = image_tag img_link, {:alt => "Image missing...", :class => "home-list-image"}

    .home-list-listing-details-wrapper
      .row
        /Title
        .colFix-12.home-list-title-col{style: "padding-left: 0.5em; overflow: hidden;"}
          %h2.home-list-title
            = link_to listing.title, listing_path(listing.url), {class: "home-share-type-link"}


      / Author and/or Authors location + Merkzettel
      .row.author-and-location
        .colFix-9
          - country = Maybe(ISO3166::Country.find_country_by_name(Maybe(listing.author.location_address).split(",").last.gsub(/[^a-zÖÜÄüöä\s]/i, '').strip.or_else(nil))).translation(I18n.locale).or_else("n/a")

          - if @restrictedMarketplace
            = link_to(person_path(id: listing.author.username), :class => "home-list-author-name") do
              = PersonViewUtils::person_entity_display_name(listing.author, @current_community.name_display_type)
          %span.hide-on-mobile-inline
            %b= t(".from")
            = country

          - if testimonials_in_use
            %span.home-list-author-reviews.hide-on-mobile-inline
              - if listing.author.num_of_reviews > 0
                = "("
                = icon_tag("testimonial")
                = pluralize(listing.author.num_of_reviews, t(".review"), t(".reviews"))
                = ")"

        - if !@restrictedMarketplace
          .colFix-3{style: "padding: 0px; text-align:right; font-weight: bold;"}
            %a.listing_request_button{href: "#", data:{listing_id: listing.id}}= t(".listing_request")


      / Shipment to
      .row.hide-on-large-mobile-inline{style: "font-size: 0.8em; line-height: 1.3em; margin: 4px 0 7px 0;"}
        .colFix-8{style: "max-height: 32px; min-height: 32px; overflow: hidden;"}
          %b= t(".shipment_to")
          - if(countries = get_listing_shipment_to(listing))
            = countries

        .colFix-1{style: "min-height: 32px;"}

        - if !@restrictedMarketplace
          .colFix-3{style: "padding: 0px; text-align:right; min-height: 32px;"}
            - if @wishlist_listings && @wishlist_listings.include?(listing.id.to_s)
              = link_to t(".remove_from_wishlist").html_safe, "#", class: "remove-from-wishlist", data:{"listing-id" => listing.id}
              = link_to t(".wishlist").html_safe, "#", class: "add-to-wishlist hidden", data:{"listing-id" => listing.id}
            - else
              = link_to t(".remove_from_wishlist").html_safe, "#", class: "remove-from-wishlist hidden", data:{"listing-id" => listing.id}
              = link_to t(".wishlist").html_safe, "#", class: "add-to-wishlist", data:{"listing-id" => listing.id}




      / Share, Condition & Price
      .row#share_cond_price
        / Share
        .colFix-4.hide-on-mobile-block
          .home-list-share= t('homepage.share')
          = render :partial => "share_dialog", :locals => {listing: listing, view: "list"}

        / Condition
        .colFix-4
          - if (cond = get_listing_condition(listing))
            .home-list-type{:class => "list-item-type-" + cond[:condition].to_s}= cond[:title] || "n/a"

        .colFix-4.show-on-mobile-block

        / Price
        - price_option = get_price_options(listing)
        .colFix-4{style: "font-size: 0.8em; margin-top:0px; padding-right: 0px;"}
          .home-list-price
            - if listing.price

              - if price_option[:val] && price_option[:val].include?("request")
                .home-list-listing-on-request
                  = t("homepage.index.price_on_request")

              - else
                .home-list-price-quantity.hide-on-large-mobile-inline{:title => price_text}
                  = price_text || "&nbsp".html_safe
                  = ", " if price_text && price_option[:title]
                  = price_option[:title].split("(")[0].strip if price_option[:title]

                .home-list-price-value
                  %span{style: "font-size: 0.6em;"}= currency_symbol
                  = " " + humanized_money(listing.price).upcase

                .home-list-price-quantity-mobile{:title => price_text}
                  = price_text
                  - if price_text && price_option[:title]
                    = ", "
                  = price_option[:title].split("(")[0].strip if price_option[:title]

            - else
              .home-list-listing-shape-value
                = shape_name(listing)
