- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.rentog_events.rentog_events")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section

  = link_to "Export to Excel", admin_community_rentog_events_export_path, {style: "font-weight: bold; margin-bottom: 20px;"}

  %ul
    %li= link_to "Show all events", "?"
    - unless params[:only_marketplace_search]
      %li= link_to "Show only 'Marketplace search/filter' events", "?only_marketplace_search=1"
    - unless params[:zero_entries]
      %li= link_to "Marketplace Search/Filter with 0 listings as result", "?zero_entries=1"

  %table{style: "font-size: 0.8em; margin-top: 20px; margin-right: 20px;"}
    %thead
      %tr
        - RentogEvent.new.attributes.keys.each do |attribute|
          - style = "min-width: 200px" if attribute == "event_details"
          %th{style: style}= attribute

    %tbody

      - @table.each do |row|
        - style = "background-color: grey" if row[0]%2 == 0

        %tr{:stlye => style}

        - row.each do |field|
          - if field.class.to_s == "Hash"
            %td
              %a{href: field[:href]}= Maybe(field[:name]).or_else("")
              %br
              = Maybe(field[:email]).or_else("").html_safe
              %br
              = Maybe(field[:phone]).or_else("").html_safe

          - else
            %td= field.to_s.html_safe



  .row
    - pages = (@rentog_events.count.to_f / @per_page).ceil
    - if pages > 0
      - (1..pages).each do |page|
        - style = ""
        - style = "background-color: #CCC; " if page == @current_page.to_i
        = link_to page, {page: page}, style: style + "padding: 3px 10px;"
