%span
  %style{type: "text/css", scoped: true}
    :plain
      .iframe-listing:hover {opacity: 0.7;}

  - if listing_detail
    - price_option = get_price_options(listing_detail[:listing])

    .iframe-listing{style: "width: #{@width}; height: #{@height}; min-height: 100px; position: relative; overflow: hidden; box-shadow: 0 0 2px black; float: left; margin: 10px 10px 10px 10px;"}
      - if listing_detail[:listing_image_url]
        %img{src: listing_detail[:listing_image_url], style: "width: 100%; height: auto;"}

      = link_to listing_path(listing_detail[:listing]), {class: ".iframe_listing_wrapper", style: "display: block; font-size: #{@font_size}; background-image: linear-gradient(#{@bg_color1}, #{@bg_color2}); position: absolute; top: 0; left: 0; bottom: 0; right: 0;", target: @blank} do
        
        .iframe_listing_price{style: "    font-size: 1.2em; float: right; padding: 4px 8px; background-color: #{@price_bg_color}; border-radius: 0 0 0 5px; box-shadow: 0 0 5px grey; color: #{@price_color}; font-weight: bold; min-width: 25%; text-align: center;"}
          - if price_option[:val] && price_option[:val].downcase.include?("price on request")
            = t("homepage.index.price_on_request")

          - elsif listing_detail[:listing].price 
            .price_wrapper{style: "line-height: 1.0em;"}
              %span.fluid-thumbnail-grid-image-price
              
                %span=listing_detail[:listing].price.currency.symbol
                %span{itemprop: "price"}=humanized_money(listing_detail[:listing].price).upcase.gsub(",", ".")

                - price_unit = price_quantity_slash_unit(listing_detail[:listing])
              - if !price_unit.blank?
                - price_text = " " + price_unit
                %span.fluid-thumbnail-grid-image-quantity{:title => price_text}
                  = price_text
            
            - if price_option[:title]
              .price_option_wrapper{style: "line-height: 1.1em; font-size: 0.7em;"}
                = price_option[:title].split("(")[0].strip

        .iframe_listing_details{style: "position: absolute; bottom: 10px; color: #{@font_color}; font-weight: bold; text-shadow: #{@text_shadow}; left: 5px; padding-right: 10px;"}
          = listing_detail[:listing].title

  - else
    No listing found
