- if listing_detail
  = link_to listing_path(listing_detail[:listing]), {class: ".iframe_listing_wrapper", style: "display: block; background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); width: #{@width}px; height: #{@height}px; position: relative; overflow: hidden; box-shadow: 0 0 2px black; float: left; margin: 10px 10px 10px 10px; font-size: #{@font_size}", target: "_blank"} do
    - if listing_detail[:listing_image_url]
      %img{src: listing_detail[:listing_image_url], style: "width: #{@width}px; height: #{@height}px;"}
    .iframe_listing_details{style: "position: absolute; bottom: 20px; color: #{@font_color}; font-weight: bold; text-shadow: #{@text_shadow}; left: 5px; padding-right: 10px;"}
      = listing_detail[:listing].title
      %br
      = "(" + listing_detail[:manufacturer].first + ")" if listing_detail[:manufacturer] && listing_detail[:manufacturer] != []
- else
  No listing found
