- content_for :javascript do
  initialize_listing_view('#{I18n.locale}');
  initialize_request_listing_form("#{t('.listing_request_success').html_safe}");

- content_for :extra_javascript do
  :javascript
    window.ST.listing();
  = javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyA2ZiyghTraCZ3ilRWBoe4Tm2R3QUMJGdo"

- content_for :title, raw(@listing.title)
- content_for :meta_author, @listing.author.name(@current_community)
- content_for :meta_description, StringUtils.first_words(strip_tags(@listing.description), 15)
- content_for :meta_image, @listing.listing_images.first.image.url(:medium) if !@listing.listing_images.empty?
- dimensions = @listing.listing_images.first.get_dimensions_for_style(:medium) if !@listing.listing_images.empty?
- content_for :meta_image_width, dimensions[:width].to_s if !@listing.listing_images.empty?
- content_for :meta_image_height, dimensions[:height].to_s if !@listing.listing_images.empty?
- content_for :keywords, StringUtils.keywords(@listing.title)

- content_for :title_header do
  %h1
    %span#listing-title.listing-title= @listing.title

%script{type: "text/template", class: "template", id: "image-frame-template"}
  .listing-image-frame
    #listing-image-link.listing-image-frame-content
      .listing-image-vertical-centering{:class => "${aspectRatioClass}" }
        %img{:src => "${url}", :alt => @listing.title, :class => "listing-image ${aspectRatioClass}"}

%script{type: "text/template", class: "template", id: "image-thumbnail-template"}
  .listing-image-thumbnail-container
    %img.listing-image-thumbnail{src: "${url}"}
    .fade

/ Keyboard navigation
#keyboard-navigation-button
  = icon_tag("keyboard", ["keyboard-icon-button"])

%table#keyboard-nav-table-content{style: "display: none;"}
  %thead
    %tr{style: "background-color: #B0D9E0;"}
      %th= t(".keyboard_nav_key")
      %th= t(".keyboard_nav_action")
  %tbody
    %tr
      %td= "a"
      %td= t(".keyboard_nav_a")
    %tr
      %td= "n"
      %td= t(".keyboard_nav_n")
    %tr
      %td= "p"
      %td= t(".keyboard_nav_p")
    %tr
      %td= "b"
      %td= t(".keyboard_nav_b")
    %tr
      %td= icon_tag "directleft"
      %td= t(".keyboard_nav_left")
    %tr
      %td= icon_tag "directright"
      %td= t(".keyboard_nav_right")


/ Listing navigation
.row#listing_navigation
  - listing_type = Listing.get_listing_type(@listing)
  - listing_ids = Maybe(cookies[:listings]).split("&").or_else([])
  - listing_index = listing_ids.find_index(@listing.id.to_s)
  - if listing_index
    - listing_left = listing_ids[listing_index-1] if listing_index > 0
    - listing_right = listing_ids[listing_index+1]
    - forelast_listing = true if listing_index+1 == listing_ids.length - 1
  - else
    - forelast_listing = false

  .col-1{style: "text-align: center; font-weight: bold;"}
    - if listing_left
      = link_to "<", listing_path(listing_left), id: "listing-nav-left"

  .col-10{style: "text-align: center;"}
    - shape = ListingShape.where(id: @listing.listing_shape).first

    .row{style: "margin-bottom: 0px; font-size: 0.9em"}
      - cols = 3

      / Back to your filter
      - if cookies[:filter] && cookies[:filter] != "" && cookies[:listings_mode] != "pooltool" && cookies[:listings_mode] != "profile"
        %div{class: "col-#{cols}", style: "border-right: 1px solid white; padding-left: 0px; padding-right: 0px;"}
          = link_to t(".back_to_filter"), cookies[:filter], id: "listing_back_button"
      - else
        - cols += 1

      / All devices
      - if cookies[:listings_mode] != "pooltool" && cookies[:listings_mode] != "profile"
        - alldevs_link = marketplace_path

        %div{class: "col-#{cols}", style: "border-right: 1px solid white; padding-left: 0px; padding-right: 0px;"}
          = link_to t(".all_devices"), alldevs_link, id: "show-all-devices"

        / Show my devices
      - elsif cookies[:listings_mode] == "profile"
        - alldevs_link = person_path(@current_user)

        %div{class: "col-#{cols}", style: "border-right: 1px solid white; padding-left: 0px; padding-right: 0px;"}
          = link_to t(".show_my_devices"), alldevs_link, id: "show-all-devices"

      / Shape name
      - if shape
        %div{class: "col-#{cols}", style: "border-right: 1px solid white; padding-left: 0px; padding-right: 0px;"}
          - if listing_type != "intern" && listing_type != "trusted" && cookies[:listings_mode] != "pooltool" && cookies[:listings_mode] != "profile"
            = link_to t("listings.show.all") + " " + t(shape.name_tr_key), marketplace_path(transaction_type: shape.name)
          - else
            = t("listings.show.all") + " " + t(shape.name_tr_key)

      / Category name
      - if @listing.category
        %div{class: "col-#{cols}", style: "padding-left: 0px; padding-right: 0px;"}
          %div
            - if listing_type != "intern" && listing_type != "trusted" && cookies[:listings_mode] != "pooltool" && cookies[:listings_mode] != "profile"
              = link_to marketplace_path(category: @listing.category) do
                = t("listings.show.all") + " " + @listing.category.display_name(I18n.locale)
                /%span{style: "font-size:0.6em;"}= t("listings.show.category")
            - else
              = t("listings.show.all") + " " + @listing.category.display_name(I18n.locale)
              /%span{style: "font-size:0.6em;"}= t("listings.show.category")



  .col-1{style: "text-align: center; font-weight: bold;"}
    - if listing_right
      = link_to ">", listing_path(listing_right), id: "listing-nav-right", data: {forelast_listing: forelast_listing}

/ Listing details
.row
  .col-8.listing-details-container
    .row
      .col-12.listing-image-container
        - with_image_frame(@listing) do |reason, listing_images|
          - if reason == :images_ok
            .listing-image-carousel
              #listing-image-frame

              - if @prev_image_id && @next_image_id
                = link_to params.merge(image: @prev_image_id), class: "listing-image-navi listing-image-navi-left", id: "listing-image-navi-left" do
                  .listing-image-navi-arrow-container
                    .listing-image-arrow-icon-container.left
                      = icon_tag("directleft", ["navigate-icon-fix", "listing-image-navi-arrow"])
                = link_to params.merge(image: @next_image_id), class: "listing-image-navi listing-image-navi-right", id: "listing-image-navi-right" do
                  .listing-image-navi-arrow-container
                    .listing-image-arrow-icon-container.right
                      = icon_tag("directright", ["navigate-icon-fix", "listing-image-navi-arrow"])
            #thumbnail-stripe.listing-image-thumbnail-stripe

            - content_for :extra_javascript do
              :javascript
                var listingImages = #{listing_images.map { |image| ListingImageJSAdapter.new(image) }.to_json }
                var currentImage = #{params[:image].present? ? params[:image].to_i : listing_images.first.id};
                ST.listingImages(listingImages, currentImage);
          - else
            .listing-image-text-container
              .listing-image-frame
                .listing-image-frame-content
                  .listing-image-vertical-centering
                    .listing-no-image
                      - if reason == :images_processing
                        = t("listings.show.processing_uploaded_image")
                      - else
                        = t(".no_description")

    - if @listing.description && !@listing.description.blank?
      .row.listing_attribute
        .col-12.detailed_description_wrapper
          - text_with_line_breaks do
            = sanitize @listing.description, tags: %w(strong em h3 h4 h5 h6 hr ul ol li b), attributes: %w()

    - if @listing.listing_attachments && @listing.listing_attachments != []
      .row.listing_attribute
        .col-12
          .files-headline
            Files:
          %table
            - @listing.listing_attachments.each do |attachm|
              %tr
                %td
                  = link_to attachm.attachment.url, :target => "_blank" do
                    = icon_tag("terms", ["icon-with-text"])
                    = attachm.attachment_file_name

    / Listing attributes
    - @listing.custom_field_values.each do |custom_field_value|
      
      - # do not display certain attributes
      - if show_attribute?(custom_field_value)
        .row.listing_attribute
          .col-12
            - custom_field_value.with_type do |question_type|
              = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }

    / Description of Sales conditions
    - unless @listing.author.description_of_sales_conditions.nil?
      .row.listing_attribute
        .col-12
          %span.listing_attribute_question= t(".description_of_sales_conditions")
          = @listing.author.description_of_sales_conditions


    / Listing published date
    - if @current_community.show_listing_publishing_date? || @relation == :rentog_admin || @relation == :rentog_admin_own_site || @relation == :company_admin_own_site || @relation == :domain_supervisor || @relation == :company_employee
      .row.listing_attribute.listing_published_date
        .col-12
          .icon-with-text-container
            = icon_tag("calendar", ["icon-part"])
            .text-part
              %b
                = t(".listing_created_at")
                = l @listing.created_at, :format => :short_date

    %div{style:"clear: both;"}


    / Discussion
    - unless (@listing.closed? && !current_user?(@listing.author)) || !@current_community.listing_comments_in_use
      .view-item
        #comments.discussion.overflow-allowed
          %h2
            = icon_tag("chat_bubble", ["icon-with_text"])
            .text-with-icon
              = t(".comments")
              %span#comment_count= "(#{@listing.comments_count})"
          #follow-links.follow-links
            = render :partial => "follow_links"
          #comment-list
            = render :partial => "comment", :collection => @listing.comments
          #comment-form
            = render :partial => "comment_form"

  %aside.col-4
    - price_option = get_price_options(@listing)
    - if @listing.price && show_price
      .row
        .col-12
          .listing-price
            - if price_option[:val] && price_option[:val].include?("Price on request")
              %span.listing-price-amount
                = t("homepage.index.price_on_request")
            -else
              %span.listing-price-amount
                = humanized_money_with_symbol(@listing.price).upcase
              - with_quantity_and_vat_text(@current_community, @listing) do |text|
                %span.listing-price-quantity
                  = text
                - if price_option[:title]
                  %br
                  %span.listing-price-quantity
                    = price_option[:title]

    - if @relation == :rentog_admin_own_site || @relation == :rentog_admin || @relation == :company_admin_own_site
      / Times viewed
      .row.views_and_requests
        .col-12
          .listing-times-viewed
            = @listing.times_viewed
            %span
              = " " + t(".times_viewed")

        / Listing Requests
        .col-12{style: "padding-left: 0px; margin-top: 5px;"}
          .listing-request-count
            = ListingRequest.count_requests_of_listing(@listing.id)
            %span
              = " " + t(".listing_requests")

    / Listing actions
    .row-with-divider
      .col-12
        #listing-message-links
          = render :partial => "listing_actions", locals: { form_path: form_path, payment_gateway: payment_gateway, delivery_opts: delivery_opts, process: process, listing_unit_type: listing_unit_type, country_code: country_code, rent_button: rent_button, special_action_button_label: special_action_button_label, show_date: show_date }

    / Author image
    - if @relation != :untrusted_company_admin && @relation != :untrusted_company_employee && @relation != :logged_out_user && @relation != :unverified_company && @relation != nil
      .row-with-divider
        .col-12
          .listing-author
            .listing-author-avatar
              = medium_avatar_thumb(@listing.author, {:class => "listing-author-avatar-image"})
            .listing-author-details
              .listing-author-name
                = link_to @listing.author.name(@current_community), @listing.author, :id => "listing-author-link", :class => "listing-author-name-link", :title => "#{@listing.author.name(@current_community)}"
              - if @listing.author != @current_user
                .listing-author-contact
                  %a#listing-contact{href: contact_to_listing_path(:listing_id => @listing.id.to_s), :class => "listing-author-contact-button"}
                    .content
                      = t(".contact")

    - if @current_community.testimonials_in_use && received_testimonials.size > 0
      .row-with-divider.listing-author-activity
        .col-12
          %i.listing-author-activity-icon{:class => icon_class("testimonial")}
          .listing-author-activity-item
            .listing-author-activity-value
              - if received_testimonials.size > 0
                = feedback_positive_percentage.to_s + "%"
                = t("people.show.positive")
                = "(#{received_positive_testimonials.size}/#{received_testimonials.size})"
              - else
                = t(".no_reviews")
            .listing-author-activity-description
              = t(".feedback")


    / Show Current and default location map only in pool tool
    - case @relation
      - when :rentog_admin, :rentog_admin_own_site, :domain_supervisor, :company_admin, :company_admin_own_site, :trusted_company_admin, :trusted_company_employee
        - if @listing.origin_loc && @listing.origin_loc.address != ""
          %span.location_alias_header= t(".default_location")
          - if !@listing.origin_loc.location_alias.empty?
            %span.location_alias_text= @listing.origin_loc.location_alias

          - elsif !Maybe(@listing.author.location).location_alias.or_else("").empty?
            %span.location_alias_text= @listing.author.location.location_alias

      - if (booker_id = @listing.is_booked_today_from) != nil
        - if (booker = Person.find(booker_id)).location
          .current_loc
            %span.location_alias_header= t(".current_location")
            %span.location_alias_text= booker.location.location_alias

      - if (booker and booker.location and booker.location.address) || (@listing.origin_loc and @listing.origin_loc.address != "")
        .row
          .col-12
            #googlemap
              - if booker and booker.location
                - location = booker.location
              - else
                - location = @listing.origin_loc

              = render :partial => "googlemap", :locals => { :listing => @listing, :listing_location =>  location}
              = render :partial => "origin", :locals => { :origin_loc => location}
