.employ-button-container
  - if company.employs?(person)
    = link_to person_employment_path(person, company), :method => "delete", :remote => true, :class => "employ-button-small unemploy button-hoverable",:confirm=>t(".warning", employee: person.full_name) do
      .content.hover-content
        = t(".unemploy")
      .content.default-content
        = t(".employee")
  - else
    = link_to [ person, :employments ], :method => "post", :remote => true, :class => "employ-button-small-new" do
      .content
        = t(".employ")



