.people-fluid-thumbnail-grid-item
  = link_to person, :class => "fluid-thumbnail-grid-image-item-link" do
    .fluid-thumbnail-grid-image-image-container
      = large_avatar_thumb(person, :class => "fluid-thumbnail-grid-image-image")
      .fluid-thumbnail-grid-image-overlay
      .fluid-thumbnail-grid-image-title
        = person.name(@current_community)

  -# If logged in
  - if @current_user
    - # If company or rentog admin or domain supervisor views a profile
    - if @current_user.is_organization
      - # if domain supervisor views a profile which does not belong to his domain
      - if @relation == :domain_supervisor_of_other_company
        - # no buttons

      - elsif (@relation == :domain_supervisor && @current_user.is_supervisor_of?(person)) || @relation == :rentog_admin
        - # if rentog admin or domain supervisor views a profile
        = render :partial => "people/edit_profile_button", :locals => { :person => person }

        -if origin == "show_employees"
          -# If Rentog admin views a companies profile and this renders an employee
          = render :partial => "people/employ_button", :locals => { :person => person, :company => company }

      - elsif current_user?(person)
        -# If company admin views another profile and this renders the company itself
        = render :partial => "people/edit_profile_button", :locals => { :person => person }

      - elsif (defined? company && current_user?(company)) && origin == "show_employees"
        -# If company admin views its own profile and this renders an employee
        = render :partial => "people/employ_button", :locals => { :person => person, :company => company }

      - elsif origin == "trusted_companies"
        -# If company admin views a companies profile (or its own) and this renders a trusted company

        - if (trusted_relation = FollowerRelationship.where(:follower_id => @current_user.id, :person_id => person.id).first)
          = render :partial => "people/config_button", :locals => { :person => person, :trusted_relation => trusted_relation }
          = render :partial => "people/trust_button", :locals => { :person => person, :size => "small" }
        - else
          = render :partial => "people/trust_button", :locals => { :person => person }

      -elsif person.is_organization
        -# If company admin views a employees profile and this renders a followed company
        = render :partial => "people/trust_button", :locals => { :person => person }
      -else
        -# If company admin views a employees profile and this renders a followed employee, do not show the follow button

    - else
      -# If employee views a profile
      - if current_user?(person)
        -# If employee views another profile and this renders the employee itself
        = render :partial => "people/edit_profile_button", :locals => { :person => person }

      -else
        = render :partial => "people/follow_button", :locals => { :person => person }
