- if current_user?(@site_owner) || @relation == :domain_supervisor
  = render :partial => "people/edit_profile_button", :locals => { :person => @site_owner }

- if !current_user?(@site_owner) || @relation == :domain_supervisor
  %a.profile-contact-link{href: new_person_person_message_path(@site_owner)}
    .content
      = t("people.show.contact", :person => @site_owner.given_name_or_username)

- if @current_user && @current_community.follow_in_use? && @relation != :company_admin_own_site && @relation != :employee_own_site && @relation != :rentog_admin_own_site && @relation != :domain_supervisor
  - if @site_owner.is_organization && @current_user.is_organization
    - if (trusted_relation = FollowerRelationship.where(:follower_id => @current_user.id, :person_id => @site_owner.id).first)
      = render :partial => "config_button", :locals => { :person => @site_owner, :trusted_relation => trusted_relation }
      = render :partial => "trust_button", :locals => { :person => @site_owner, :size => "small" }
    - else
      = render :partial => "trust_button", :locals => { :person => @site_owner }

  - elsif !@current_user.is_organization
    = render :partial => "follow_button", :locals => { :person => @site_owner }

- if @relation == :rentog_admin || @relation == :domain_supervisor
  - if @site_owner.is_organization
    = link_to "Pool Tool", person_poolTool_path(@site_owner)
  - else
    = link_to "Companies Pool Tool", person_poolTool_path(@site_owner.company)
