.row.checkbox-group-container
  - ArrayUtils.each_slice_columns(custom_field.options.sort, 2) do |column|
    .col-6
      - column.each do |opt|
        .checkbox-container
          - selected = custom_field_value ? custom_field_value.selected_options.include?(opt) : false
          - cf_class = "cf-" + custom_field.name('en').downcase.gsub(" ", "-")
          = check_box_tag "custom_fields[#{custom_field.id}][]", opt.id, selected, {id: "custom_fields_#{custom_field.id}_#{opt.id}", :class => "custom_field_checkbox #{cf_class} #{custom_field.required? ? 'required' : ''}"}
          = label_tag "custom_fields_#{custom_field.id}_#{opt.id}", "#{opt.title(I18n.locale)}", {class: "light"}

- if custom_field.name.downcase.include?("shipment")
  .row.shipment-fast-select{style: "text-align: center; font-size: 0.9em;"}
    .col-4#fast-select-eu
      = link_to t("listings.form.custom_field_partials.checkbox_js.select_eu"), "#"
    .col-4#fast-select-worldwide
      = link_to t("listings.form.custom_field_partials.checkbox_js.toggle_all"), "#"
    .col-4#fast-select-clearall
      = link_to t("listings.form.custom_field_partials.checkbox_js.clear_all"), "#"

  - eu_countries = []
  - ISO3166::Country.find_all_by("eu_member", true).each do |country_|
    - eu_countries << country_[1]["translations"][I18n.locale.to_s]

  - content_for :extra_javascript do
    = render :partial => "listings/form/custom_field_partials/checkbox_js", locals: {eu_countries: eu_countries}

  = render :partial => "listings/form/custom_field_partials/checkbox_js", locals: {eu_countries: eu_countries}
