%tr
  %td{:align => "left", :style => "padding-top: 20px;"}
    %font{body_font}
      = t("emails.price_comparison_request.hi")

%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = t("emails.price_comparison_request.desc").html_safe
      %br
      %br
      = t("emails.price_comparison_request.user_details").html_safe
      %p{style: "font-size: 1.5em; font-weight: bold;"}= "134679"
      %p{style: "font-weight: bold"}= t("emails.price_comparison_request.other_products").html_safe

    %a{href: "https://rentog.com"}
      %img{src: "https://rentog.com/wp-content/uploads/2016/01/Logo_transparent_white.png", style: "background-color:black; width: 160px; padding: 5px;"}
