Anbei der wöchentliche Report zu den Rentog KPIs.

%table

%h3{style: "margin-top: 15px;"}
  = "Wöchentlich aufgeschlüsselt"

%table{style: "margin-bottom: 50px; margin-top: 10px;"}
  %thead
    %tr
      %th{style: "width: 100px; text-align:center"}= "KPI"
      %th{style: "width: 100px; text-align:center"}= "Absolut"
      %th{style: "width: 100px; text-align:center"}= (Date.today-28).strftime("%d.%m")  + " - " + (Date.today-22).strftime("%d.%m") 
      %th{style: "width: 100px; text-align:center"}= (Date.today-21).strftime("%d.%m")  + " - " + (Date.today-15).strftime("%d.%m")
      %th{style: "width: 100px; text-align:center"}= (Date.today-14).strftime("%d.%m")  + " - " + (Date.today-8).strftime("%d.%m")
      %th{style: "width: 100px; text-align:center"}= (Date.today-7).strftime("%d.%m")   + " - " + (Date.today-1).strftime("%d.%m")
  %tbody
    - @kpis.each do |kpi_array|
      %tr
        %td{style: "width: 100px; text-align:center"}= kpi_array[0].to_s.gsub("_", "")
        - kpi_array[1].each do |kpi_value|
          %td{style: "width: 100px; text-align:center"}= kpi_value

%h3
  = "Monatlich aufgeschlüsselt"

%table{style: "margin-bottom: 50px; margin-top: 10px;"}
  %thead
    %tr
      %th{style: "width: 100px; text-align:center"}= "KPI"
      %th{style: "width: 100px; text-align:center"}= "Absolut"
      %th{style: "width: 100px; text-align:center"}= (Date.today-120).strftime("%d.%m") + " - " + (Date.today-91).strftime("%d.%m")
      %th{style: "width: 100px; text-align:center"}= (Date.today-90).strftime("%d.%m")  + " - " + (Date.today-61).strftime("%d.%m")
      %th{style: "width: 100px; text-align:center"}= (Date.today-60).strftime("%d.%m")  + " - " + (Date.today-31).strftime("%d.%m")
      %th{style: "width: 100px; text-align:center"}= (Date.today-30).strftime("%d.%m")  + " - " + (Date.today-1).strftime("%d.%m")
  %tbody
    - @kpis2.each do |kpi_array2|
      %tr
        %td{style: "width: 100px; text-align:center"}= kpi_array2[0].to_s.gsub("_", "")
        - kpi_array2[1].each do |kpi_value2|
          %td{style: "width: 100px; text-align:center"}= kpi_value2


= link_to "Die Details dazu gibt es hier", admin_community_kpis_url(@community, @url_params)

%br
%br
%br
Dies ist eine automatisch generierte Nachricht.
