- content_for :extra_javascript do
  :javascript
    pooltool = ST.poolTool();
    pooltool.init();


- content_for :title_header do
  %h1= t("pool_tool.headline")

%button#addNewBooking
  .content
    Add new booking

#addNewBookingForm
  = form_tag(person_poolTool_path(@person), :action => :create) do
    = label_tag(:newBooking, "Title")
    = text_field_tag(:newBooking)
    = submit_tag("Create")

    Todo...

.poolTool_gantt_container
  .gantt

#orr
  %p.orrText= t("pool_tool.turn_your_device")

#editListings
  %h3
    Edit your devices
  #listings-list{:style => "margin:15px;"}
    - limit = 20
    = render :partial => 'listings/profile_listings', :locals => {:person => @person, :limit => limit}

