- content_for :extra_javascript do
  :javascript
    pooltool = ST.poolTool();
    pooltool.init();
    booked_dates = [];
    window.ST.initializeFromToDatePicker('datepicker');

- content_for :title_header do
  %h1= t("pool_tool.headline")

%button#addNewBooking.primary-button
  .content
    Add new booking

#addNewBookingForm
  = form_tag(person_poolTool_path(@person), :action => :create) do
    #employee_wrapper.row
      .col-6
        = label_tag :employees, "Choose Employee"
        = collection_select :employee, :username, @person.employees, :id, :full_name, {:prompt => "Please select..."}, {id: "dd_employee"}

    #renter_wrapper.row
      .col-6
        = label_tag :renter, "Or enter another renter/reason"
        = text_field_tag :renter, nil, maxlength: 15, id: "tf_device_renter", placeholder: "fg: Maintainance", style: "width:100%;"


    #device_wrapper.row
      %div.col-12
        %div{class: "home-fluid-thumbnail-grid-pooltool"}
          .home-fluid-thumbnail-grid
            = render :partial => "radio_grid_item", :collection => @open_listings, :as => :listing
      .clear-floating

    #datepicker_wrapper.row
      .input-daterange.input-group.clearfix#datepicker{:data => {:locale => I18n.locale, :format => t("datepicker.format")}}
        .datepicker-start-wrapper.col-3
          = label_tag t(".booking_from")
          %input.input-sm.form-control.required#start-on{:type => 'text', :name => "start_on", :placeholder => t("datepicker.format"), :data => { :output => "booking-start-output" } }
          %input#booking-start-output{:type => 'hidden', :name => 'start_on'}

        .datepicker-end-wrapper.col-3
          = label_tag t(".booking_to")
          %input.input-sm.form-control.required#end-on{:type => 'text', :name => "end_on", :placeholder => t("datepicker.format"), :data => { :output => "booking-end-output" }}
          %input#booking-end-output{:type => 'hidden', :name => 'end_on'}

    .clear-floating

    = submit_tag("Create", class: "success-button")

/ .poolTool_gantt_container
/   .gantt

/ #orr
/   %p.orrText= t("pool_tool.turn_your_device")

/ #editListings
/   %h3
/     Edit your devices
/   #listings-list{:style => "margin:15px;"}
/     - limit = 20
/     = render :partial => 'listings/profile_listings', :locals => {:person => @person, :limit => limit}
