- content_for :extra_javascript do
  :javascript
    ST.importexport.init();

- content_for :title_header do
  %h1#import-export-header= t(".headline")

#import-export-wrapper
  = t(".desc").html_safe

  #export-wrapper
    %h3= t(".export").html_safe
    = t(".export_desc").html_safe
    = t(".date_desc").html_safe

    #datepicker_wrapper.row
      .input-daterange.input-group.clearfix#datepicker{:data => {:locale => I18n.locale, :format => t("datepicker.format")}}
        .datepicker-start-wrapper.col-3
          = label_tag t(".from")
          %input.input-sm.form-control.required#start-on{:type => 'text', :name => "start_on", :placeholder => t("datepicker.format"), :data => { :output => "date-start-output" } }
          %input#date-start-output{:type => 'hidden', :name => 'start_on'}

        .datepicker-end-wrapper.col-3
          = label_tag t(".to")
          %input.input-sm.form-control.required#end-on{:type => 'text', :name => "end_on", :placeholder => t("datepicker.format"), :data => { :output => "date-end-output" }}
          %input#date-end-output{:type => 'hidden', :name => 'end_on'}

        .datepicker-button.col-3
          #export-button.button Export

  #import-wrapper
    %h3= t(".import").html_safe
    = t(".import_desc").html_safe
    %br
    = link_to t(".import_from_file").html_safe, import_listings_new_import_path, class: ""
