- content_for :extra_javascript do
  :javascript
    ST.importListings.init();

- content_for :title_header do
  %h1#importListings-header= t(".headline")

#importListings-description-wrapper
  %p.importListings-description-text1= t(".description_text1").html_safe

  .row
    .col-6
      .importListings-form
        = form_for :import_file, :url => import_listings_upload_import_file_path do |form|
          = form.file_field :import_file, name: "import_file[file][]"
          = form.button t(".submit_button"), id: "importListings-upload-btn"

  %br

  %h3.importListings-header= t(".help_header")
  %p.importListings-description-text2= t(".description_text2").html_safe
  .description_create_file_text1= t(".description_create_file_text1").html_safe

  - if @relation == :domain_supervisor
    %br
    %h3.importListings-supervisor-header= t(".supervisor_header").html_safe
    %p.importListings-supervisor-desc= t(".supervisor_text").html_safe

    - domain_members = @current_user.get_companies_with_same_domain
    - if domain_members.any?
      .row
        .col-4
          %table{:style => "font-size: 0.8em; box-shadow: 0px 0px 7px #808080;"}
            %thead
              %tr{:style => "background-color: rgb(246, 192, 192);"}
                %th= "Pool name"
                %th= "Pool ID"
            %tbody
              - domain_members.each do |member|
                %tr
                  %td= member.organization_name
                  %td= member.username
    - else
      =t(".no_pools_in_domain_yet")
    %br


  %h3{style: "padding-top:15px;"}= t(".attributes_header")
  %ul
    %li= t(".only_pooltool_color").html_safe
    %li= t(".only_marketplace_color").html_safe
    %li= t(".marketplace_pooltool_color").html_safe

  .row.import-listings-desc-table
    .col-6
      %table
        - table1_rows = 13
        %thead
          %tr
            %th= t(".desc_table_th1").html_safe
            %th= t(".desc_table_th2").html_safe
            %th= t(".desc_table_th3").html_safe
        %tbody
          - if @relation == :domain_supervisor
            %tr{:style => "background-color: rgb(246, 192, 192);"}
              %td= t(".t1_row0_attr").html_safe
              %td= t(".t1_row0_desc").html_safe
              %td= t(".t1_row0_mand").html_safe

          - (1..table1_rows).each do |row|
            %tr
              %td= t(".t1_row#{row}_attr").html_safe
              %td= t(".t1_row#{row}_desc").html_safe
              %td= t(".t1_row#{row}_mand").html_safe

    .col-6
      %table
        - table2_rows = 11
        %thead.import-listings-second-head
          %tr
            %th= t(".desc_table_th1").html_safe
            %th= t(".desc_table_th2").html_safe
            %th= t(".desc_table_th3").html_safe
        %tbody
          - (1..table2_rows).each do |row|
            %tr
              %td= t(".t2_row#{row}_attr").html_safe
              %td= t(".t2_row#{row}_desc").html_safe
              %td= t(".t2_row#{row}_mand").html_safe


  .description_create_file_example= t(".description_create_file_example").html_safe

