- show_marketplace = !Community.first.only_pool_tool

.footer-placeholder

%footer.footer
  .footer-wrapper

    - with_available_locales do |locales|
      .footer-left
        #footer-locales-menu.toggle_reverse.footer-hover{data: {toggle: '#footer-locales-toggle-menu', 'toggle-position' => 'absolute'}}
          %span.footer-text-link
            = get_full_locale_name(I18n.locale).to_s
            = icon_tag("dropdown", ["icon-dropdown"])
        #footer-locales-toggle-menu.toggle-menu.footer-toggle-menu-language.hidden
          = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array
    .footer-right
      .row
        .col-3.footer-section
          %b.footer-section-header
            = t("footer.company.header")
          %br

          = link_to t("footer.company.about"), get_wp_url("imprint")
          %br

          = link_to t("footer.company.terms"), get_wp_url("terms")
          %br

          = link_to t("footer.company.privacy"), get_wp_url("privacy")

        .col-3.footer-section
          %b.footer-section-header
            = t("footer.help.header")
          %br

          = link_to t("footer.help.faq"), get_wp_url("faq")
          %br

          = link_to t("footer.help.pool_tool"), get_wp_url("help")
          %br

          = link_to t("footer.company.contact"), get_wp_url("contact")


        .col-3.footer-section.footer-getting-started
          %b.footer-section-header
            = t("footer.getting_started.header")
          %br

          %a{:href=>"https://play.google.com/store/apps/details?id=rentog.com"}
            = t("footer.getting_started.get_app")
          %br
          %a{:href=>"#"}
            = t("footer.getting_started.show_devices")
          %br
          %a{:href=>"#"}
            = t("footer.getting_started.show_profile")

        / .col-3.temp-footer-section
        /   %b
        /     Only PoolTool
        /   %br
        /   = link_to switch_pool_tool_path do
        /     %span{:style=>"color:rgb(52, 50, 50);"}
        /       Toggle


    .footer-center

    .footer-copyright
      %p{:style => "font-size:0.8em"}
        Copyright &copy; 2015 RENTOG
