- show_marketplace = !Community.first.only_pool_tool

.footer-placeholder

%footer.footer
  .footer-wrapper

    - with_available_locales do |locales|
      .footer-left
        #footer-locales-menu.toggle_reverse.footer-hover{data: {toggle: '#footer-locales-toggle-menu', 'toggle-position' => 'absolute'}}
          %span.footer-text-link
            = get_full_locale_name(I18n.locale).to_s
            = icon_tag("dropdown", ["icon-dropdown"])
        #footer-locales-toggle-menu.toggle-menu.footer-toggle-menu-language.hidden
          = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array
    .footer-right
      .row
        .col-3.footer-section
          %b
            = t("footer.company.header")
          %br
          = link_to new_user_feedback_path do
            = t("footer.company.contact")
          %br
          = link_to about_infos_path do
            = t("footer.company.about")
          %br
          = link_to terms_infos_path do
            = t("footer.company.terms")

          %br
          = link_to privacy_infos_path do
            = t("footer.company.privacy")

        .col-3.footer-section
          %b
            = t("footer.help.header")
          %br
          = link_to how_to_use_help_index_path do
            = t("footer.help.how_it_works")
          %br

          = link_to faq_help_index_path do
            = t("footer.help.faq")
          %br

          - if show_marketplace
            %a{:href=>"#"}
              = t("footer.help.owner_help")
            %br

          - if show_marketplace
            %a{:href=>"#"}
              = t("footer.help.renter_help")
            %br

          = link_to pool_tool_help_index_path do
            = t("footer.help.pool_tool")


        .col-3.footer-section.footer-getting-started
          %b
            = t("footer.getting_started.header")
          %br
          %a{:href=>"#"}
            = t("footer.getting_started.create_device")
          %br
          %a{:href=>"#"}
            = t("footer.getting_started.get_app")
          %br
          %a{:href=>"#"}
            = t("footer.getting_started.show_devices")
          %br
          %a{:href=>"#"}
            = t("footer.getting_started.show_profile")

        / .col-3.temp-footer-section
        /   %b
        /     Only PoolTool
        /   %br
        /   = link_to switch_pool_tool_path do
        /     %span{:style=>"color:rgb(52, 50, 50);"}
        /       Toggle


    .footer-center

    .footer-copyright
      %p{:style => "font-size:0.8em"}
        Copyright &copy; 2015 RENTOG
