-#
  Listing image for grid

  Includes:
  - Listing image
  - Overlay (transparent gradient black)
  - Listing price
  - Adds `modifier_class` which can be used for view specific fine tunings


- modifier_image_marker ||= ""
- closed_marker = "fluid-thumbnail-grid-image-closed-marker" if !listing.open
- price_option = get_price_options(listing)


= link_to(listing_path(listing.url), :class => "#{modifier_class} fluid-thumbnail-grid-image-item-link") do
  .fluid-thumbnail-grid-image-image-container{:class => "#{modifier_class}"}
    - with_first_listing_image(listing) do |first_image_url|
      = image_tag first_image_url, {:alt => listed_listing_title(listing), :class => "#{modifier_class} fluid-thumbnail-grid-image-image", itemprop: "image"}

    .fluid-thumbnail-grid-image-overlay{:class => "#{modifier_class} #{closed_marker}"}
    .fluid-thumbnail-grid-image-title{:class => "#{modifier_class}"}
      - title = listing.title.split("(")
      %span{itemprop: "name"}= title[0]
      %span{itemprop: "brand", itemscope: true, itemtype: "http://schema.org/Brand"}
        %span{style: "font-size: 0.8em;", itemprop: "name"}= "(" + title[1] if title[1]

    .fluid-thumbnail-grid-image-price-container{:class => "#{modifier_price}", itemprop: "offers", itemscope: true, itemtype: "http://schema.org/Offer"}
      - if listing.price
        - if price_option[:val] && price_option[:val].include?("Price on request")
          = t("homepage.index.price_on_request")
        - else
          .price_wrapper{style: "line-height: 1.6em;"}
            %span.fluid-thumbnail-grid-image-price{:class => "#{modifier_price}", itemprop: "price"}
              = humanized_money_with_symbol(listing.price).upcase
              - price_unit = price_quantity_slash_unit(listing)
            - if !price_unit.blank?
              - price_text = " " + price_unit
              %span.fluid-thumbnail-grid-image-quantity{:title => price_text}
                = price_text
          - if price_option[:title]
            .price_option_wrapper{style: "line-height: 1.1em; font-size: 0.9em;"}
              = price_option[:title].split("(")[0].strip


      - else
        %span.fluid-thumbnail-grid-image-type{:class => "#{modifier_class}"}
          = shape_name(listing)

    .fluid-thumbnail-grid-image-marker{:class => "fluid-thumbnail-grid-image-marker-#{modifier_image_marker}"}

    / Hook for tests. wah: Remove this
    - unless Rails.env.test?
      .listings-request-slider{data: {listingid: listing.id}}
        =t("listings.show.request")

      .listings-request-slider2
        - if @wishlist_listings && @wishlist_listings.include?(listing.id.to_s)
          .remove-from-wishlist{data:{"listing-id" => listing.id}}= t("homepage.list_item.remove_from_wishlist").html_safe
          .add-to-wishlist.hidden{data:{"listing-id" => listing.id}}= t("homepage.list_item.wishlist").html_safe
        - else
          .remove-from-wishlist.hidden{data:{"listing-id" => listing.id}}= t("homepage.list_item.remove_from_wishlist").html_safe
          .add-to-wishlist{data:{"listing-id" => listing.id}}= t("homepage.list_item.wishlist").html_safe


