
#header-user-toggle-menu.toggle-menu.header-toggle-menu-user.hidden

  = link_to person_inbox_path(@current_user) do
    = icon_tag("mail", ["icon-with-text"])
    = t("layouts.conversations.messages")
    - if unread_count > 0
      .mobile-badge{:class => get_badge_class(unread_count)}
        = unread_count

  = link_to person_path(user) do
    = icon_tag("user", ["icon-with-text"])
    = t("header.profile")

  - if @current_user.is_organization
    = link_to person_poolTool_path(user) do
      = icon_tag("poolTool", ["icon-with-text"])
      = t("layouts.logged_in.poolTool")
  - else
    = link_to person_poolTool_path(@current_user.company) do
      = icon_tag("poolTool", ["icon-with-text"])
      = t("layouts.logged_in.poolTool")

  = link_to person_settings_path(user) do
    = icon_tag("settings", ["icon-with-text"])
    = t("layouts.logged_in.settings")

  = link_to logout_path do
    = icon_tag("logout", ["icon-with-text"])
    = t("layouts.logged_in.logout")
