
#header-user-toggle-menu.toggle-menu.header-toggle-menu-user.hidden

  - if @current_user && @current_community && @current_user.has_admin_rights_in?(@current_community)
    = link_to edit_details_admin_community_path(@current_community) do
      = icon_tag("admin", ["icon-with-text"])
      = t("layouts.logged_in.admin")

    = link_to "*** Disable tracking ***", "https://tools.rentog.com/notracking.html"

  - if @current_user.is_organization
    = link_to person_poolTool_path(user) do
      = icon_tag("calendar", ["icon-with-text"])
      = t("layouts.logged_in.poolTool")
  - else
    = link_to person_poolTool_path(@current_user.company) do
      = icon_tag("calendar", ["icon-with-text"])
      = t("layouts.logged_in.poolTool")

  - if !@current_community.only_pool_tool && !@current_user.is_supervisor?
    = link_to marketplace_path do
      = icon_tag("notifications", ["icon-with-text"])
      = t("header.marketplace")

  /= link_to marketplace_path(:restrictedMarketplace => "1") do
  /  = icon_tag("lock", ["icon-with-text"])
  /  = t("header.restrictedMarketplace")

  - with_invite_link do
    = link_to new_invitation_path do
      = icon_tag("new_listing", ["icon-with-text"])
      = t("header.invite")

  - unless @current_user.is_supervisor?
    - if @current_user.is_organization || @current_community.employee_has_own_profile
      = link_to person_path(user) do
        = icon_tag("user", ["icon-with-text"])
        = t("header.profile")
    - else
      = link_to person_path(user.company) do
        = icon_tag("user", ["icon-with-text"])
        = t("header.company_profile")

  - unless @current_user.is_supervisor?
    = link_to person_inbox_path(@current_user) do
      = icon_tag("mail", ["icon-with-text"])
      = t("layouts.conversations.messages")
      - if unread_count > 0
        .mobile-badge{:class => get_badge_class(unread_count)}
          = unread_count

  - unless @current_user.is_supervisor?
    - if @current_user.is_organization || @current_community.employees_can_create_listings
      = link_to new_listing_path, :class => "hidden-tablet" do
        = icon_tag("new_listing", ["icon-with-text"])
        = t("homepage.index.post_new_listing")

  - if @current_user.is_organization || @current_community.employees_can_create_listings
    = link_to import_export_path do
      = icon_tag("import_export", ["icon-with-text"])
      = t("layouts.logged_in.import_export")

  = link_to person_settings_path(user) do
    = icon_tag("settings", ["icon-with-text"])
    = t("layouts.logged_in.settings")

  = link_to logout_path, :id => "signoutlink" do
    = icon_tag("logout", ["icon-with-text"])
    = t("layouts.logged_in.logout")
